In [29]:
import json
import csv
import os
import pandas as pd

In [30]:
!pip install flatten_json

Requirement already satisfied: flatten_json in c:\users\krish.vanapalli\anaconda3\lib\site-packages (0.1.14)
Requirement already satisfied: six in c:\users\krish.vanapalli\anaconda3\lib\site-packages (from flatten_json) (1.16.0)

In [31]:
from flatten_json import flatten

In [32]:
rootdir = 'C:\\Users\\krish.vanapalli\\Documents\\Work\\KickStat\\open-data-master\\data\\matches\\'

In [33]:
matches_output = pd.DataFrame()
dataframes_supported_entities = {}
dataframes_supported_entities["competition"] = pd.DataFrame()
dataframes_supported_entities["match_part_of_competition"] = pd.DataFrame()
dataframes_supported_entities["season"] = pd.DataFrame()
dataframes_supported_entities["match_held_in_season"] = pd.DataFrame()
dataframes_supported_entities["home_team"] = pd.DataFrame()
dataframes_supported_entities["match_home_team"] = pd.DataFrame()
dataframes_supported_entities["country"] = pd.DataFrame()
dataframes_supported_entities["home_team_country"] = pd.DataFrame()
dataframes_supported_entities["managers"] = pd.DataFrame()
dataframes_supported_entities["manager_country"] = pd.DataFrame()
dataframes_supported_entities["home_team_managers"] = pd.DataFrame()
dataframes_supported_entities["away_team"] = pd.DataFrame()
dataframes_supported_entities["away_team_country"] = pd.DataFrame()
dataframes_supported_entities["away_team_managers"] = pd.DataFrame()
dataframes_supported_entities["match_away_team"] = pd.DataFrame()
dataframes_supported_entities["metadata"] = pd.DataFrame()
dataframes_supported_entities["match_metadata"] = pd.DataFrame()
dataframes_supported_entities["competition_stage"] = pd.DataFrame()
dataframes_supported_entities["match_competition_stage"] = pd.DataFrame()
dataframes_supported_entities["stadium"] = pd.DataFrame()
dataframes_supported_entities["stadium_country"] = pd.DataFrame()
dataframes_supported_entities["match_held_in_stadium"] = pd.DataFrame()
dataframes_supported_entities["referee"] = pd.DataFrame()
dataframes_supported_entities["referee_country"] = pd.DataFrame()
dataframes_supported_entities["match_referee"] = pd.DataFrame()

In [34]:
def flatten_json(linking_key, linking_key_value, root_key, dictionary, grandparent_key):
    for key, value in list(dictionary.items()):
        if isinstance(value, dict):
            internal_linking_key = [s for s in list(dictionary.keys()) if "id" in s][0]
            flatten_json(internal_linking_key, dictionary[internal_linking_key], key, dictionary.pop(key), root_key)
            #print([s for s in list(dictionary.keys()) if "id" in s][0])
        elif isinstance(value, list):
            for dict_item in value:
                linking_key = [s for s in list(dictionary.keys()) if "id" in s][0]
                #print(linking_key, dictionary[linking_key], key, dict_item, root_key)
                flatten_json(linking_key, dictionary[linking_key], key, dict_item, root_key)                
            dictionary.pop(key)
                
    df_dictionary = pd.DataFrame([dictionary])
    dataframes_supported_entities[root_key] = pd.concat([dataframes_supported_entities[root_key], df_dictionary], ignore_index=True)
    #print("Root key is: " + root_key + " and linking key is: " + linking_key + " and grandparent key is: " + grandparent_key)
    if(root_key == "competition"):
        match_part_of_competition = {"match_id": linking_key_value, "competition_id": dictionary["competition_id"]}
        df_dictionary_tmp = pd.DataFrame([match_part_of_competition])
        dataframes_supported_entities["match_part_of_competition"] = pd.concat([dataframes_supported_entities["match_part_of_competition"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "season"):
        match_held_in_season = {"match_id": linking_key_value, "season_id": dictionary["season_id"]}
        df_dictionary_tmp = pd.DataFrame([match_held_in_season])
        dataframes_supported_entities["match_held_in_season"] = pd.concat([dataframes_supported_entities["match_held_in_season"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "home_team"):
        match_home_team = {"match_id": linking_key_value, "home_team_id": dictionary["home_team_id"], "home_team_group": dictionary["home_team_group"]}
        df_dictionary_tmp = pd.DataFrame([match_home_team])
        dataframes_supported_entities["match_home_team"] = pd.concat([dataframes_supported_entities["match_home_team"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "away_team"):
        match_away_team = {"match_id": linking_key_value, "away_team_id": dictionary["away_team_id"], "away_team_group": dictionary["away_team_group"]}
        df_dictionary_tmp = pd.DataFrame([match_away_team])
        dataframes_supported_entities["match_away_team"] = pd.concat([dataframes_supported_entities["match_away_team"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "competition_stage"):
        match_competition_stage = {"match_id": linking_key_value, "competition_stage_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([match_competition_stage])
        dataframes_supported_entities["match_competition_stage"] = pd.concat([dataframes_supported_entities["match_competition_stage"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "stadium"):
        match_held_in_stadium = {"match_id": linking_key_value, "stadium_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([match_held_in_stadium])
        dataframes_supported_entities["match_held_in_stadium"] = pd.concat([dataframes_supported_entities["match_held_in_stadium"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "referee"):
        match_referee = {"match_id": linking_key_value, "referee_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([match_referee])
        dataframes_supported_entities["match_referee"] = pd.concat([dataframes_supported_entities["match_referee"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "country" and linking_key == "home_team_id"):
        home_team_country = {linking_key: linking_key_value, "home_team_country_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([home_team_country])
        dataframes_supported_entities["home_team_country"] = pd.concat([dataframes_supported_entities["home_team_country"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "country" and linking_key == "away_team_id"):
        away_team_country = {linking_key: linking_key_value, "away_team_country_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([away_team_country])
        dataframes_supported_entities["away_team_country"] = pd.concat([dataframes_supported_entities["away_team_country"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "managers" and linking_key == "home_team_id"):
        home_team_managers = {linking_key: linking_key_value, "home_team_manager_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([home_team_managers])
        dataframes_supported_entities["home_team_managers"] = pd.concat([dataframes_supported_entities["home_team_managers"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "managers" and linking_key == "away_team_id"):
        away_team_managers = {linking_key: linking_key_value, "away_team_manager_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([away_team_managers])
        dataframes_supported_entities["away_team_managers"] = pd.concat([dataframes_supported_entities["away_team_managers"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "country" and linking_key == "id" and grandparent_key == "managers"):
        manager_country = {linking_key: linking_key_value, "manager_country_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([manager_country])
        dataframes_supported_entities["manager_country"] = pd.concat([dataframes_supported_entities["manager_country"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "country" and linking_key == "id" and grandparent_key == "stadium"):
        stadium_country = {linking_key: linking_key_value, "stadium_country_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([stadium_country])
        dataframes_supported_entities["stadium_country"] = pd.concat([dataframes_supported_entities["stadium_country"], df_dictionary_tmp], ignore_index=True)
    elif(root_key == "country" and linking_key == "id" and grandparent_key == "referee"):
        referee_country = {linking_key: linking_key_value, "referee_country_id": dictionary["id"]}
        df_dictionary_tmp = pd.DataFrame([referee_country])
        dataframes_supported_entities["referee_country"] = pd.concat([dataframes_supported_entities["referee_country"], df_dictionary_tmp], ignore_index=True)   
    elif(root_key == "metadata"):
        match_metadata = {"match_id": linking_key_value, "data_version": dictionary.get("data_version", None)}
        df_dictionary_tmp = pd.DataFrame([match_metadata])
        dataframes_supported_entities["match_metadata"] = pd.concat([dataframes_supported_entities["match_metadata"], df_dictionary_tmp], ignore_index=True)

In [35]:
for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        print(os.path.join(subdir, file))
        with open(os.path.join(subdir, file), encoding='utf-8') as f:
            matches_list = json.load(f)
        for match in matches_list:
            for key, value in list(match.items()):
                if isinstance(value, dict):
                    flatten_json("match_id", match["match_id"], key, match.pop(key), "None")
            df_dictionary = pd.DataFrame([match])
            matches_output = pd.concat([matches_output, df_dictionary], ignore_index=True)

C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\1.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\2.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\21.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\22.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\23.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\24.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\25.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\26.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\27.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\278.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\37.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\38.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\39.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\4.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\40.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\41.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\42.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\11\90.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\116\68.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\12\27.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\12\86.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\1238\108.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\1470\274.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\1.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\2.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\21.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\22.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\23.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\24.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\25.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\26.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\27.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\276.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\277.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\37.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\39.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\4.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\41.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\44.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\71.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\16\76.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\2\27.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\2\44.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\35\75.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\37\4.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\37\42.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\37\90.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\43\106.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\43\269.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\43\270.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\43\272.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\43\3.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\43\51.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\43\54.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\43\55.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\49\3.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\53\106.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\55\43.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\7\27.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\72\107.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\72\30.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\81\275.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\81\48.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\87\268.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\87\279.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\87\84.json
C:\Users\krish.vanapalli\Documents\Work\KickStat\open-data-master\data\matches\9\27.json

In [36]:
matches_output['kick_off'] = matches_output['match_date'] + " " + matches_output['kick_off']
matches_output = matches_output.drop('last_updated', axis=1)
matches_output = matches_output.drop('last_updated_360', axis=1)
print(matches_output.head())

   match_id  match_date                 kick_off  home_score  away_score  \
0      9880  2018-04-14  2018-04-14 16:15:00.000           2           1
1      9912  2018-04-29  2018-04-29 20:45:00.000           2           4
2      9924  2018-05-06  2018-05-06 20:45:00.000           2           2
3      9855  2018-03-18  2018-03-18 16:15:00.000           2           0
4      9827  2018-03-01  2018-03-01 21:00:00.000           1           1

  match_status match_status_360  match_week
0    available        scheduled          32
1    available        scheduled          35
2    available        scheduled          36
3    available        scheduled          29
4    available        scheduled          26

In [37]:
matches_file_name = "C:\\Users\\krish.vanapalli\\Documents\\Work\\KickStat\\KBDataFiles\\matches.csv"
matches_output.to_csv(matches_file_name, sep=',', encoding='utf-8', index=False, header=False)

In [38]:
dataframes_supported_entities["away_team_managers"].head()

   away_team_id  away_team_manager_id
0           207                   211
1           217                   227
2           220                    56
3           215                   210
4           217                   227

In [39]:
type(dataframes_supported_entities)

dict

In [40]:
for key, value_df in dataframes_supported_entities.items():
    value_df = value_df.loc[value_df.astype(str).drop_duplicates().index]
    #value_df = value_df.drop_duplicates(ignore_index=True)
    output_file_name = f"C:\\Users\\krish.vanapalli\\Documents\\Work\\KickStat\\KBDataFiles\\{key}.csv"
    value_df.to_csv(output_file_name, sep=',', encoding='utf-8', index=False, header=False)

In [41]:
home_team_df = pd.read_csv("home_team.csv", header=None)
away_team_df = pd.read_csv("away_team.csv", header=None)
away_team_df.head()

     0              1     2    3
0  207       Valencia  male  NaN
1  217      Barcelona  male  NaN
2  220    Real Madrid  male  NaN
3  215  Athletic Club  male  NaN
4  208     Las Palmas  male  NaN

In [42]:
teams_df = home_team_df.append(away_team_df, ignore_index=True)
teams_df.head()

C:\Users\krish.vanapalli\AppData\Local\Temp\ipykernel_17472\690709136.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams_df = home_team_df.append(away_team_df, ignore_index=True)

     0                       1     2    3
0  217               Barcelona  male  NaN
1  219  RC Deportivo La Coru単a  male  NaN
2  208              Las Palmas  male  NaN
3  322                   Eibar  male  NaN
4  220             Real Madrid  male  NaN

In [43]:
teams_df.describe()

                  0
count    702.000000
mean    1196.705128
std     2298.428051
min        1.000000
25%      230.250000
50%      784.000000
75%      942.000000
max    17469.000000

In [49]:
teams_df = teams_df.drop(teams_df.columns[3], axis=1)
teams_df.head()

     0                       1     2
0  217               Barcelona  male
1  219  RC Deportivo La Coru単a  male
2  208              Las Palmas  male
3  322                   Eibar  male
4  220             Real Madrid  male

In [50]:
teams_df = teams_df.loc[teams_df.astype(str).drop_duplicates().index]
teams_df.describe()

                  0
count    266.000000
mean    1382.921053
std     2837.024162
min        1.000000
25%      208.250000
50%      776.500000
75%     1020.500000
max    17469.000000

In [51]:
teams_file_name = "C:\\Users\\krish.vanapalli\\Documents\\Work\\KickStat\\KBDataFiles\\teams.csv"
teams_df.to_csv(teams_file_name, sep=',', encoding='utf-8', index=False, header=False)

In [46]:
away_team_country_df = pd.read_csv("away_team_country.csv", header=None)
home_team_country_df = pd.read_csv("home_team_country.csv", header=None)
teams_country_df = away_team_country_df.append(home_team_country_df, ignore_index=True)
teams_country_df = teams_country_df.loc[teams_country_df.astype(str).drop_duplicates().index]
teams_country_file_name = "C:\\Users\\krish.vanapalli\\Documents\\Work\\KickStat\\KBDataFiles\\teams_country.csv"
teams_country_df.to_csv(teams_country_file_name, sep=',', encoding='utf-8', index=False, header=False)

C:\Users\krish.vanapalli\AppData\Local\Temp\ipykernel_17472\1856400169.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams_country_df = away_team_country_df.append(home_team_country_df, ignore_index=True)

In [47]:
away_team_managers_df = pd.read_csv("away_team_managers.csv", header=None)
home_team_managers_df = pd.read_csv("home_team_managers.csv", header=None)

teams_managers_df = away_team_managers_df.append(home_team_managers_df, ignore_index=True)
teams_managers_df = teams_managers_df.loc[teams_managers_df.astype(str).drop_duplicates().index]
teams_managers_file_name = "C:\\Users\\krish.vanapalli\\Documents\\Work\\KickStat\\KBDataFiles\\teams_managers.csv"
teams_managers_df.to_csv(teams_managers_file_name, sep=',', encoding='utf-8', index=False, header=False)

C:\Users\krish.vanapalli\AppData\Local\Temp\ipykernel_17472\984898477.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  teams_managers_df = away_team_managers_df.append(home_team_managers_df, ignore_index=True)